.fadeout {
  opacity: 0;
}

.fadein {
  opacity: 1;
}

.tooltip {
  background-color: #eee;
  border-color: #eee;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.tooltip.overlay {
  position: absolute;
  width: 95%;
  z-index: 100;
  -webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.2);
}

.tooltip .tip {
  position: absolute;
  width: 0;
  height: 0;
}

.tooltip .tip.top {
  border-top: 5px solid;
  border-top-color: inherit;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 50%;
}

.tooltip .tip.bottom {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 5px solid;
  border-bottom-color: inherit;
  left: 50%;
  top: -5px;
}

.tooltip.error {
  background-color: #ee1c2e;
  border-color: #ee1c2e;
  color: white;
}

.tooltip.error-2 {
  background-color: #f8e1e3;
  border-color: #f8e1e3;;
  color: #ee1c2e;
}
